<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="../static/css/app.css" type="text/css">
		<title>Lazarus</title>
<!-- 		<script src="../static/js/jquery-g.js"></script>
 -->
 <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
			<script src="../static/css/materialize/js/materialize.js"></script>
			<link rel="stylesheet" href="../static/css/materialize/css/materialize.min.css"> 
		<link rel="stylesheet" href="../static/js/leaflet.css">
		<script src="../static/js/bodymovin.js"></script>
	
 	<!-- <link rel="stylesheet" href="https://www.cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

		
		<script src="https://www.cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
	</head>
	<body class="purple darken-4">
		<div id=fulls class=hide style="width:100%; height:100vh; color:white; "><h1><center>Please wait...</div>
			<div class="row z-depth-5  white-text topmost">
					<h1 class="header center">The Lazarus Location Extractor</h1>
				</div>
		<div id="app">
			<div class="row">
				<div class="col s12 m6">
						<div class="crd z-depth-4 upld hoverable">
							<!-- 
								<form id="upload-form" method="post" enctype="multipart/form-data">
									<i class="material-icons">file_upload</i>
									<div class="form-content-container">
										<input id="upload_images" type="file" name="image" />
										<input id="upload_button" type="submit" value="Submit" />
									</div>
								</form>
								 -->
								 <div>
									
																			
									<form action="#">
											<div class="file-field input-field">
											<div class="center">
												<div class="container hide" id="afterS">
													
														<button class="btn-large red" id='discard'>Discard the picture</button>
														<button id='proceed' onclick="addMap()" class="btn green btn-large">Submit current</button>
												</div>
												<div>
														<i class="material-icons " style="font-size:5em;">file_upload</i>
														<input id='file_upload' type="file">

												</div>
												<script>
														var animation = bodymovin.loadAnimation({
														container: document.getElementById('fulls'),
														renderer: 'svg',
														loop: true,
														autoplay: true,
														path: 'data.json'
														});

														function addMap(){
															
																$('.mapouter').removeClass('hide');
																$('.uncommon').removeClass('hide');
																$('#fulls').removeClass('hide');
																var x=setTimeout(function(){
																	$('#fulls').hide();

																},3000)

																}</script>
												
											</div>
											<div class="file-path-wrapper hide">
												<input class="file-path validate" type="text">
											</div>
											</div>
										</form>
										<p class="center helperT" style="font-size:1.2em;">
											Here you upload the image of which location you want to find
										</p>
										</div>
										
								
						</div>
						<div class="uncommon container white blacktext z-depth-3 hide" style="width:100%; height:100%;">
								<h4 class=" center">The details about the place</h4>
								<table>
								<tr><th>Name: <td>Delhi</td></tr>
								<tr><th>Lat/Long:<td> 28.7041° N, 77.1025° E</tr>
								<tr><th>Major Language of the region: <td>Hindi</tr>
									</table>
							</div>
				</div>
				<div class="col s12 m6">
					<div class="crd"><!--
						<div id="mapid"></div>
					-->					<div class="mapouter hide"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=delhi &t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><a href="https://www.webdesign-muenchen-pb.de"></a><style>.mapouter{overflow:hidden;height:500px;width:478px;}.gmap_canvas {background:none!important;height:500px;width:478px;}</style></div>
					</div>
				</div>
			</div>

			<div>
			
			</div>
			
			<div id="result" class="hide">
<!--                <div class="item">-->
<!--                    <div>Input image</div>-->
<!--                    <img :src="input_image_url">-->
<!--                </div>-->
				<div class="item">
					<div>Result</div>
					<ul>
						<li>
							<img id="result-image" :src="result_image_url">
						</li>
					</ul>
				</div>
				<div class="item">
					<div>Runtime parameters</div>
					<div>
						<ul>
							<li v-for="(val, key) in rtparams">
							{% raw %}{{ key }}: {{ val }}{% endraw %}
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div>Timing</div>
					<div>
						<ul>
							<li v-for="(val, key) in timing">
							{% raw %}{{ key }}: {{ val }}{% endraw %}
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div>Text Lines</div>
					<div>
						<ul>
							<li> {% raw %}{{ text_lines.length }}{% endraw %} text lines </li>
							<li v-for="tl in text_lines">
							{% raw %}{{ tl }}{% endraw %}
							</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div>Host Info</div>
					<div>
						<ul>
							<li>
							<details>
								<summary>/proc/cpuinfo</summary>
								<pre>{% raw %}{{ cpuinfo }}{% endraw %}</pre>
							</details>
							</li>
							<li>
							<details>
								<summary>/proc/meminfo</summary>
								<pre>{% raw %}{{ meminfo }}{% endraw %}</pre>
							</details>
							<li>
							<details>
								<summary>/proc/loadavg</summary>
								<pre>{% raw %}{{ loadavg }}{% endraw %}</pre>
							</details>
							</li>
							</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div>JSON</div>
					<ul>
						<li>
						<a :href="result_json_url">{% raw %}{{ result_json_url }}{% endraw %}</a>
						</li>
					</ul>
				</div>

			</div>
			<hr>
			<footer>
				
			</footer>
		</div>
		

		<script>
			
		</script>

	</body>
	<script src="../static/js/leaflet.js"></script>

	<script src="../static/js/main.js"></script>
</html>
